#wrapper { 
    background-color: #202020;
    width: 70%;
    margin: auto;
    min-width:850px;
} 
header { 
    height: 100px;
    background-color: #202020;
    margin: 0px;
}  
#content {	
    margin-top: 0px;
    background-color: #202020;
} 
#intro{
    margin-top: 0px;
    background-color: #202020;
}
#intro p{    
    width: 550px;
    margin-left: 10px;
    float: left;
}
#googleMap{
    width: 30%;
    height: 150px;
}
#theaterlist{
    width: 150px;
    height: auto;
    float: left;
    background-color: #202020;
    color: lightslategray;
}
#theaterlist ul{
    list-style-type: none;
    padding-top: 20px;
}	
#theaterlist input[type="submit"]{
    text-align: left;
    font-size: 18px;
    border: none;
    color: lightslategray;
}
#theaterlist input[type="submit"]:hover{
    text-align: left;
    font-size: 18px;
    border: none;
    background-color: lightgrey;
    color: black;
}
#theaterportal{
    padding: 20px;
    margin-left: 150px;
    height: auto;
    background-color: #202020;
    color: lightslategray;
}
#theaterportal table{
    margin: auto;
}
#theaterportal td{
    width: 120px;
    padding: 10px;
}
#theaterportal input[type="image"]{
    width: 120px;
}
#cinema {
    margin-top: 0px;
    background-color: #202020;
}
#cinema p{
    width: 650px;
    float: left;
}
#cinema img{
    width: 150px;
}		
.logo {
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    width: 100px;
    max-width: 100%;
    height: auto;
}
.login {
    display: block;
    float: right;
    right: 10px;
    top: 10px;
    width: 100px;
    height: 35px;
    border-radius: 12px;
    background-color: lightgray;
}
.login:hover {
    background-color: white;
}
body {
    font-family:Verdana, Arial, sans-serif;
    background-color: #202020;
    color: gray;
}
footer { 
    margin-top: 100px;
    background-color: lightgray;
    font-size:70%;
    text-align: center;
    /* clear: right; */
    clear: both;
    padding:20px;
}

.topnav {
    background-color: #202020;
    overflow: hidden;
}  
.topnav button {
    float: left;
    background-color: gray;
    color: white;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 10px;
    border-radius: 12px;
    width: 100px;
    height: 40px;
}  
.topnav button:hover {
    background-color: lightgray;
    color: gray;
    border-radius: 12px;
} 
.topnav button.active {
    background-color: lightgray;
    color: gray;
}
.topnav button:focus {
    outline: none;
}

.smallnav {
    padding-left: 10px;
    background-color: #202020;
    font-size: 12px;
    color: gray;
    display: inline;
} 
.smallnav a {
    background-color: #202020;
    color: gray;
    text-decoration: none;
    display: inline;
}  
.smallnav a.link:hover {
    background-color: white;
    color: lightgray;
    text-decoration: none;
    display: inline;
} 

.sort{
    margin-top: 0px;
    margin-left: 15px;
    font-size: 16px;
}
.sort select, .sort input[type=submit]{
    font-size: 16px;
    border-radius: 5px;
    padding: 5px, 8px;
}
.detail {
    margin-top: 10px;
    margin-left: 10px;
    z-index: 9;
    color: black; 
    background-color: grey;
    width: 800px;
    height: 100%;
    border-style: none;
}
.detail td:nth-child(1) {
    padding: 5px;
    width: 150px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    border-style: none;
}
.detail td:nth-child(2) {
    padding: 5px;
    width: 200px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    border-style: none;
}
.detail td:nth-child(3) {
    padding: 5px;
    width: 300px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    border-style: none;
}
.detail tr {
    height: 20px;
}
.detail button {
    font-size: 12px;
    width: 80px;
}
.detail img {
    width: 150px;
    height: auto;
}
.description {
    margin-top: 10px;
    margin-left: 10px;
    z-index: 9;
    color: black; 
    background-color: #202020;
    width: 800px;
    height: 100%;
    border-style: none;
}
.description td:nth-child(1) {
    padding: 5px;
    width: 100px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    border-style: none;
}
.description td:nth-child(2) {
    padding: 5px;
    width: 700px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    border-style: none;
}
.description tr {
    height: 20px;
}
.description img {
    width: 100px;
    height: auto;
}
.display {
    display: block;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.btn {
    float: right;
    margin-bottom: 80px;
    margin-right: 250px;
    margin-top: 30px;
    width: 80px;
    height: 30px;
    border-radius: 12px;
    background-color: lightgray;
}
.hall table {
    margin-top: 40px;
    text-align: center;
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}
.hall td {
    width: 45px;
}
.hall input[type="image"] {
    width: 35px;
    margin: auto;
    display: block;
    z-index: 9;
}
.hall button {
    border: none;
    color: white;
    width: 40px;
}
.hide{
    display: none;
}
.checkout table {
    margin-top: 80px;
    width: 500px;
}
.checkout th {
    border-bottom: 1px dashed lightgray;
    text-align: left;
}
.checkout td:nth-child(1), .checkout td:nth-child(3) {
    width: 100px;
    height: 30px;
}
.checkout td:nth-child(2) {
    width: 300px;
    height: 30px;
}
.checkout input[type="text"] {
    border: none;
    font-size: 16px;
}
.checkout tfoot td {
    border-top: 1px dashed lightgray;
}

*{box-sizing: border-box;}
.movie_popup input[type=button] {
    font-size: 16px;
    border-radius: 5px;
    background-color: lightgray;
}
.movie_popup input[type=button]:focus {
    outline: none;
}
.movie_popup {
    display: none;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 9;
    color: black; 
    background-color: grey;
    width: 800px;
    height: 100%;
    border-style: none;
}
.movie_popup td:nth-child(1) {
    padding: 5px;
    width: 60px;
    font-family: Verdana, Arial, sans-serif;
    border-style: none;
}
.movie_popup td:nth-child(2) {
    padding: 5px;
    width: 100px;
    font-family: Verdana, Arial, sans-serif;
    border-style: none;
}
.movie_popup td:nth-child(3) {
    padding: 5px;
    width: 600px;
    font-family: Verdana, Arial, sans-serif;
    border-style: none;
}
.movie_popup tr {
    height: 20px;
}
.movie_popup img {
    width: 100px;
    height: auto;
}
.movie_active button {
    font-size: 16px;
    border-radius: 5px;
    background-color: lightgray;
    border: none;
}
.movie_active button:focus {
    outline: none;
}
.movie_active input[type="submit"] {
    font-size: 16px;
    background-color: grey;
    border: none;
    text-decoration: underline;
}
.movie_active input[type="submit"] {
    outline: none;
}
.movie_active {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 9;
    color: black; 
    background-color: grey;
    width: 800px;
    height: 100%;
    border-style: none;
}
.movie_active td:nth-child(1) {
    padding: 5px;
    width: 60px;
    font-family: Verdana, Arial, sans-serif;
    border-style: none;
}
.movie_active td:nth-child(2) {
    padding: 5px;
    width: 100px;
    font-family: Verdana, Arial, sans-serif;
    border-style: none;
}
.movie_active td:nth-child(3) {
    padding: 5px;
    width: 600px;
    font-family: Verdana, Arial, sans-serif;
    border-style: none;
}
.movie_active tr {
    height: 20px;
}
.movie_active img {
    width: 100px;
    height: auto;
}
.movie_active button {
    font-size: 16px;
    border-radius: 5px;
    background-color: lightgray;
}
.movie_active button:focus {
    outline: none;
}

.timeslot_active {
    margin-left: 10px;
    width: 750px;
    border-spacing: 0;
}
.timeslot_active td {
    width: 130px;
    border-style: none;
}
.timeslot_active td.border {
    width: 130px;
    border-bottom: 1px dashed gray;
}
.timeslot_active th.time {
    width: 250px;
    font-size: 10px;
    text-align: left;
    background-color: #202020;
    border-right: 1px dashed gray;
    font-weight: 100;
}
.timeslot_active th.header {
    width: 100px;
    text-align: left;
    border-bottom: 1px dashed gray;
}
.timeslot_active th.corner {
    width: 250px;
    font-size: 10px;
    text-align: left;
    border-bottom: 1px dashed gray;
    border-right: 1px dashed gray;
    font-weight: 100;
}
.timeslot_active td button {
    margin: auto;
    display: block;
    width: 100px;
}
.timeslot_popup {
    display: none;
    margin-left: 10px;
    width: 750px;
    border-spacing: 0;
}
.timeslot_popup td {
    width: 130px;
    border-style: none;
}
.timeslot_popup td.border {
    width: 130px;
    border-bottom: 1px dashed gray;
}
.timeslot_popup th.time {
    width: 250px;
    font-size: 10px;
    text-align: left;
    background-color: #202020;
    border-right: 1px dashed gray;
    font-weight: 100;
}
.timeslot_popup th.corner {
    width: 250px;
    font-size: 10px;
    text-align: left;
    border-bottom: 1px dashed gray;
    border-right: 1px dashed gray;
    font-weight: 100;
}
.timeslot_popup th.header {
    width: 100px;
    text-align: left;
    border-bottom: 1px dashed gray;
}
.timeslot_popup td button {
    margin: auto;
    display: block;
    width: 100px;
}
.comment {
    margin-left: 10px;
    width: 750px;
    border-spacing: 0;
}
.comment th.header {
    text-align: left;
    border-bottom: 1px dashed gray;
}
.comment td:nth-child(1) {
    width: 100px;
    font-size: 12px;
    padding: 5px;
}
.comment td:nth-child(2) {
    width: 650px;
}
.comment td.border{
    border-bottom: 1px dashed gray;
}
.comment img {
    width: 80px;
    height: auto;
}
.slideshow {
    max-width: 1300px;
    position: relative;
    margin: auto;
}
.slides {
    display: none;
}
.slides img {
    width: 100%;
    height: 450px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}  
.active, .dot:hover {
    background-color: #717171;
}

.movie_index1 {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 9;
    color: black; 
    background-color: #202020;
    width: 100%;
    height: 100%;
    border-style: none;
}
.movie_index2 {
    display: none;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 9;
    color: black; 
    background-color: #202020;
    width: 100%;
    height: 100%;
    border-style: none;
}
.movie_index3 {
    display: none;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 9;
    color: black; 
    background-color: #202020;
    width: 100%;
    height: 100%;
    border-style: none;
}
.movie_index4 {
    display: none;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 9;
    color: black; 
    background-color: #202020;
    width: 100%;
    height: 100%;
    border-style: none;
}

.row {
    margin: 8px -16px;
}
.row,
.row > .column {
    padding: 8px;
}
.column {
    float: left;
    width: 25%;
} 
.row:after {
    content: "";
    display: table;
    clear: both;
}
.content {
    background-color: grey;
    padding: 20px;

}
.content img {
    height: 320px;
    width: 100%;
}

.content h3 {
    height: 36px;
}
.content#promo p {
    height: 70px;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}
.event {
    display: inline-block;
    border-radius: 4px;
    padding: 14px 20px 13px;
    text-align: center;
    border: 1px solid grey;
}
.event_row {
    padding-bottom: 10px;
    width: 100%;
}

#first {
    width: 70%;
    float: left;

}
#second {
    width: 200px;
    float: left;

}
#clear {
    clear: both;
}
.eventform {
    margin-top: 8px;
    width: 200px;
    height: 40px;
}
.eventsubmit {
    display: inline-block;
    border-radius: 4px;
    padding: 14px 20px 13px;
    text-align: center;
    border: 1px solid grey;
}

.register {
    margin: 30px auto;
    width: 700px;
    height: 500px;
    border-radius:4px;
    background-color: darkblue;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin: 10px auto 0px auto;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.tab button:hover {
    background-color: rgb(214, 126, 126);
}
.tab button.active {
    background-color: blueviolet;
}
.tabcontent1 {
    display: block;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    text-align: center;
}
.tabcontent2 {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    text-align: center;
}
.tabfirst {
    width: 50%;
}
.tabsecond {
    width: 50%;
}

.gap {
    padding-top: 10px;
}
.gap2 {
    padding-bottom: 10px;
}
.log {
    width: 800px;
    padding-bottom: 10px;
}
#loglabel {
    width: 100px;
    display: inline-block;
}
#logdetail {
    width: 300px;
    display: inline-block;
}
#logdetail input {
    width: 300px;
}
.logsubmit {
    display: inline-block;
    border-radius: 4px;
    padding: 14px 20px 13px;
    text-align: center;
    border: 1px solid grey;
    width: 250px;
    height: 50px;
}
#center {
    text-align: center;
}
#center h3 {
    margin-bottom: 0;
}
h4 {
    margin: 0 auto 0 auto;
}
.profilecontent1 {
    display: block;
    padding: 6px 12px;
    border: 1px solid #551919;
    border-top: none;
}
.tab1 {
    overflow: hidden;
    border: 1px solid #551919;
    background-color: #551919;
    margin: 10px auto 0px auto;
    padding-top: 0px;
}
.profilecontent2 {
    display: block;
    padding: 6px 12px;
    border: 1px solid blue;
    border-top: none;
}
.tab2 {
    overflow: hidden;
    border: 1px solid blue;
    background-color: blue;
    margin: 10px auto 0px auto;
    padding-top: 0px;
}
.profilecontent3 {
    display: block;
    padding: 6px 12px;
    border: 1px solid greenyellow;
    border-top: none;
}
.tab3 {
    overflow: hidden;
    border: 1px solid greenyellow;
    background-color: greenyellow;
    margin: 10px auto 0px auto;
    padding-top: 0px;
}
.profilecontent4 {
    display: block;
    padding: 6px 12px;
    border: 1px solid grey;
    border-top: none;
}
.tab4 {
    overflow: hidden;
    border: 1px solid grey;
    margin: 10px auto 0px auto;
    padding-top: 0px;
}
.history {
    width: 400px;
    height: 200px;
    display: inline-block;
    border: 1px solid blue;
    margin-bottom: 10px;
}
.history img {
    width: 150px;
    height: 200px;
}
.booking {
    display: inline-block;
    vertical-align: top;
    width: auto;
    min-width: 200px;
    margin-left: 20px;
    margin-top: 10px;
}
.booking form {
    margin-top: 20px;
}
.booking input {
    margin-top: 5px;
}
.history2 {
    width: 200px;
    height: 300px;
    display: inline-block;
    border: 1px solid blue;
    margin-bottom: 10px;
}
.history2 img {
    width: 150px;
    height: 200px;
    margin: 25px;
}
.history2 input {
    margin: 5px 25px 5px 25px;
    width: 150px;
}
.round {
    border-radius: 50%;
}
.points {
    display: inline-block;
    vertical-align: top;
    width: auto;
    min-width: 250px;
    margin-left: 20px;
}
.smallbox {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: auto;
    min-height: 30px;
    border: 1px solid darkgoldenrod;
    margin-top: 16px;
    padding: 10px;
}
.smalllabel {
    display: inline-block;
    vertical-align: top;
    margin-top: 16px;
}
#privi {
    font-size: 15px;
}